<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>About Us</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link href="css/templatemo-topic-listing.css" rel="stylesheet">

    </head>
    
    <body id="top">

        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <i class="bi-back"></i>
                        <span style="size: 3px;">DEVIFY</span>
                    </a>

                    <div class="d-lg-none ms-auto me-4">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
    
    
                    <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 220px;">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">

                            <li class="nav-item">
                                <a class="nav-link" href="./index">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="./About">About Us</a>
                            </li>

                            
                            <li class="nav-item">
                                <a class="nav-link " href="./Blogs">Blogs</a>
                            </li>

                            
                            <li class="nav-item">
                                <a class="nav-link" href="./contact">Contact</a>
                            </li>

                        </ul>

                        <div class="d-none d-lg-block">
                            <a href="./Auth" class="navbar-icon bi-person smoothscroll"></a>
                        </div>
                    </div>
                </div>
            </nav>
            

            

            <header class="site-header d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row justify-content-center align-items-center">

                        <div class="col-lg-5 col-12 mb-5">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="./index">Homepage</a></li>

                                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                </ol>
                            </nav>

                            <h2 class="text-white">We Provideing <br>The Best Content</h2>

                            <div class="d-flex align-items-center mt-5">
                                <a href="#topics-detail" class="btn custom-btn custom-border-btn smoothscroll me-4">Read More</a>

                                <a href="#top" class="custom-icon bi-bookmark smoothscroll"></a>
                            </div>
                        </div>

                        <div class="col-lg-5 col-12">
                            <div class="topics-detail-block bg-white shadow-lg">
                                <img src="images/topics/undraw_Remote_design_team_re_urdx.png" class="topics-detail-block-image img-fluid">
                            </div>
                        </div>

                    </div>
                </div>
            </header>


            <section class="topics-detail-section section-padding" id="topics-detail">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12 m-auto">
                            <h3 class="mb-4">Introduction to Devify</h3>

                            <p>We are a passionate community of programmers dedicated to empowering you on your coding journey. Whether you're a seasoned developer or just starting to explore the world of programming.</p>

                            <p> We believe that anyone can learn to code with the right guidance and support. We strive to create a welcoming and informative environment where you can:

                                Learn at your own pace: Explore topics that interest you and progress through your learning journey at your own comfort level.
                                Ask questions: No question is too basic or too complex. Our community thrives on helping each other learn.
                                Experiment and explore: We encourage you to try new things, challenge yourself, and continuously develop your programming skills.</p>

                            <blockquote>
                                Unleash Your Coding Potential...and Upgrade!!!
                            </blockquote>

                            <div class="row my-4">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <img src="images/businesswoman-using-tablet-analysis.jpg" class="topics-detail-block-image img-fluid">
                                </div>

                                <div class="col-lg-6 col-md-6 col-12 mt-4 mt-lg-0 mt-md-0">
                                    <img src="images/colleagues-working-cozy-office-medium-shot.jpg" class="topics-detail-block-image img-fluid">
                                </div>
                            </div>

                            <p>This is just a starting point, feel free to adapt it to your website's specific focus and style. The key is to highlight your passion for programming, the value you offer to readers, and how they can benefit from engaging with your website.</p>
                        </div>

                    </div>
                </div>
            </section>


            <section class="section-padding section-bg">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-lg-5 col-12">
                            <img src="images/rear-view-young-college-student.jpg" class="newsletter-image img-fluid" alt="">
                        </div>

                        <div class="col-lg-5 col-12 subscribe-form-wrap d-flex justify-content-center align-items-center">
                            <form class="custom-form subscribe-form" action="#" method="post" role="form">
                                <h4 class="mb-4 pb-2">Get Newsletter</h4>

                                <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email Address" required="">

                                <div class="col-lg-12 col-12">
                                    <button type="submit" class="form-control">Subscribe</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>
        </main>
		
        
<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-12 mb-4 pb-2">
                <a class="navbar-brand mb-2" href="index.html">
                    <i class="bi-back"></i>
                    <span>DEVIFY</span>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="site-footer-title mb-3">Resources</h6>

                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Home</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="./About" class="site-footer-link">About</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="./Blogs" class="site-footer-link">Blogs</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="./contact" class="site-footer-link">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3">Information</h6>

                <p class="text-white d-flex mb-1">
                    <a href="tel: 305-240-9671" class="site-footer-link">
                        8999450831
                    </a>
                </p>

                <p class="text-white d-flex">
                    <a href="mailto:info@company.com" class="site-footer-link">
                     adityabgaikwad0012@gmail.com
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    English</button>

                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button">Marathi</button></li>

                        <li><button class="dropdown-item" type="button">Spnaish</button></li>
                    </ul>
                </div>

                <p class="copyright-text mt-lg-5 mt-4">Copyright © adityabgaikwad0012@gmail.com
                <br><br>Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">Aditya B Gaikwad</a></p>
                
            </div>

        </div>
    </div>
</footer>


        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/custom.js"></script>

    </body>
</html>